.contact-form-container {
  font-family: Arial, sans-serif;
}

.phone-icon {
  color: #0f6d52;
  font-size: 1.5em;
  margin-right: 5px;
}

.phone-link {
  font-size: 2em;
  color: black;
  text-decoration: none;
  border-radius: 10px;
  display: inline-block;
}

.phone-link:hover {
  color: #0f6d52;
}

.order-block {
  margin: 5px 10px;
}

.order-block span {
  color: #0f6d52;
  font-size: 1.5em;
  margin-right: 5px;
}

.order-link {
  color: #0f6d52;
  font-size: 1.2em;
  text-decoration: none;
  border-bottom: 1px dotted;
}

.order-link:hover {
  font-size: 1.2em;
  color: #1db187;
}

.address-block {
  margin: 10px;
  color: black;
}

@media (max-width: 500px) {
  .phone-link {
    font-size: 1.2em;
  }
}
